/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
body {
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  padding: 4px;
}
#main-div {
  padding-top: 50px;
  min-height: 600px;
}
.listing {
  list-style: none;
  padding: 0;
  text-align: center;
}
.badge {
  margin: 0 5px;
}
.input_checkbox input {
  width: auto !important;
  margin: 0 10px;
}
.display-2 {
  margin-bottom: 30px;
}
.card {
  margin: 20px;
}
