<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to "Home", root_path%>
    </p>
    <p>Blog example is &copy; Arshdeep Singh for learing Ruby on Rails</p>
    <p>Alpha blog for new Bloggers, by <a href="http://www.arshdeeprangi.com">Arshdeep Singh</a></p>
  </div>
</footer>